In [35]:
import pandas as pd
import numpy as np
import datetime
import random
import time
from sklearn.cluster import KMeans
from sklearn.ensemble import RandomForestClassifier
from sklearn import tree
import matplotlib.pyplot as plt
from collections import Counter
from tqdm import tqdm, trange
import copy

In [36]:
def fix_time(time):
    return (datetime.datetime.fromisoformat(time))

def load_data(BPI = 'BPI.csv', BPI_attr = 'BPI_attr.csv',  data2012 = False, sample=False):
    df_BPI = pd.read_csv(BPI)
    df_BPI_attr = pd.read_csv(BPI_attr)
    
    if 'Unnamed: 0' in df_BPI.columns:
        df_BPI = df_BPI.rename(columns={'Unnamed: 0': 'case_id', 'Unnamed: 1': 'step_number'})
        df_BPI_attr = df_BPI_attr.rename(columns={'Unnamed: 0': 'case_id'})
    
    df_BPI['time:timestamp'] = df_BPI['time:timestamp'].apply(fix_time)

    df_BPI_attr['REG_DATE'] = df_BPI_attr['REG_DATE'].apply(fix_time)
    
    df_BPI['time:weekday'] = [x.weekday() for x in df_BPI['time:timestamp']]
    df_BPI['time:hour'] = [x.hour for x in df_BPI['time:timestamp']]
    
    if(sample):
        df_BPI, df_BPI_attr = df_BPI[:50000], df_BPI_attr[:2359]
    
    return (df_BPI, df_BPI_attr)
    return (df_BPI, df_BPI_attr)

def load_data_xes(data):
    BPI = xes_importer.apply(data)
    
df, df_attr = load_data(BPI = 'Datasets\BPI_2012.csv', BPI_attr = 'Datasets\BPI_attr_2012.csv', sample=False)

In [37]:
df_markov = copy.deepcopy(df)
df_markov

,case_id,step_number,org:resource,lifecycle:transition,concept:name,time:timestamp,time:weekday,time:hour
0,0,0,112.0,COMPLETE,A_SUBMITTED,2011-10-01 00:38:44.546000+02:00,5,0
1,0,1,112.0,COMPLETE,A_PARTLYSUBMITTED,2011-10-01 00:38:44.880000+02:00,5,0
2,0,2,112.0,COMPLETE,A_PREACCEPTED,2011-10-01 00:39:37.906000+02:00,5,0
3,0,3,112.0,SCHEDULE,W_Completeren aanvraag,2011-10-01 00:39:38.875000+02:00,5,0
4,0,4,NaN,START,W_Completeren aanvraag,2011-10-01 11:36:46.437000+02:00,5,11
5,0,5,10862.0,COMPLETE,A_ACCEPTED,2011-10-01 11:42:43.308000+02:00,5,11
6,0,6,10862.0,COMPLETE,O_SELECTED,2011-10-01 11:45:09.243000+02:00,5,11
7,0,7,10862.0,COMPLETE,A_FINALIZED,2011-10-01 11:45:09.243000+02:00,5,11
8,0,8,10862.0,COMPLETE,O_CREATED,2011-10-01 11:45:11.197000+02:00,5,11
9,0,9,10862.0,COMPLETE,O_SENT,2011-10-01 11:45:11.380000+02:00,5,11
10,0,10,NaN,SCHEDULE,W_Nabellen offertes,2011-10-01 11:45:11.554000+02:00,5,11
11,0,11,NaN,COMPLETE,W_Completeren aanvraag,2011-10-01 11:45:13.917000+02:00,5,11
12,0,12,NaN,START,W_Nabellen offertes,2011-10-01 12:15:41.290000+02:00,5,12
13,0,13,NaN,COMPLETE,W_Nabellen offertes,2011-10-01 12:17:08.924000+02:00,5,12
14,0,14,10913.0,START,W_Nabellen offertes,2011-10-08 16:26:57.720000+02:00,5,16
15,0,15,10913.0,COMPLETE,W_Nabellen offertes,2011-10-08 16:32:00.886000+02:00,5,16
16,0,16,11049.0,START,W_Nabellen offertes,2011-10-10 11:32:22.495000+02:00,0,11
17,0,17,11049.0,COMPLETE,O_SENT_BACK,2011-10-10 11:33:03.668000+02:00,0,11
18,0,18,11049.0,SCHEDULE,W_Valideren aanvraag,2011-10-10 11:33:04.560000+02:00,0,11
19,0,19,11049.0,COMPLETE,W_Nabellen offertes,2011-10-10 11:33:05.791000+02:00,0,11
20,0,20,10629.0,START,W_Valideren aanvraag,2011-10-13 10:05:26.925000+02:00,3,10
21,0,21,10629.0,COMPLETE,A_REGISTERED,2011-10-13 10:37:29.226000+02:00,3,10
22,0,22,10629.0,COMPLETE,A_APPROVED,2011-10-13 10:37:29.226000+02:00,3,10
23,0,23,10629.0,COMPLETE,O_ACCEPTED,2011-10-13 10:37:29.226000+02:00,3,10
24,0,24,10629.0,COMPLETE,A_ACTIVATED,2011-10-13 10:37:29.226000+02:00,3,10
25,0,25,10629.0,COMPLETE,W_Valideren aanvraag,2011-10-13 10:37:37.026000+02:00,3,10
26,1,0,112.0,COMPLETE,A_SUBMITTED,2011-10-01 08:08:58.256000+02:00,5,8
27,1,1,112.0,COMPLETE,A_PARTLYSUBMITTED,2011-10-01 08:09:02.195000+02:00,5,8
28,1,2,112.0,COMPLETE,A_PREACCEPTED,2011-10-01 08:09:56.648000+02:00,5,8
29,1,3,112.0,SCHEDULE,W_Completeren aanvraag,2011-10-01 08:09:59.578000+02:00,5,8
...,...,...,...,...,...,...,...,...
262170,13083,2,112.0,COMPLETE,A_DECLINED,2012-02-29 23:29:21.958000+01:00,2,23
262171,13084,0,112.0,COMPLETE,A_SUBMITTED,2012-02-29 23:28:55.349000+01:00,2,23
262172,13084,1,112.0,COMPLETE,A_PARTLYSUBMITTED,2012-02-29 23:28:55.479000+01:00,2,23
262173,13084,2,112.0,SCHEDULE,W_Afhandelen leads,2012-02-29 23:29:06.452000+01:00,2,23
262174,13084,3,11169.0,START,W_Afhandelen leads,2012-03-01 09:25:39.409000+01:00,3,9
262175,13084,4,11169.0,COMPLETE,A_DECLINED,2012-03-01 09:28:18.168000+01:00,3,9
262176,13084,5,11169.0,COMPLETE,W_Afhandelen leads,2012-03-01 09:28:21.228000+01:00,3,9
262177,13085,0,112.0,COMPLETE,A_SUBMITTED,2012-02-29 23:43:09.766000+01:00,2,23
262178,13085,1,112.0,COMPLETE,A_PARTLYSUBMITTED,2012-02-29 23:43:09.899000+01:00,2,23
262179,13085,2,112.0,SCHEDULE,W_Afhandelen leads,2012-02-29 23:43:54.276000+01:00,2,23
262180,13085,3,11169.0,START,W_Afhandelen leads,2012-03-01 09:25:47.680000+01:00,3,9
262181,13085,4,11169.0,COMPLETE,A_PREACCEPTED,2012-03-01 09:27:50.503000+01:00,3,9
262182,13085,5,11169.0,SCHEDULE,W_Completeren aanvraag,2012-03-01 09:27:50.551000+01:00,3,9
262183,13085,6,11169.0,COMPLETE,W_Afhandelen leads,2012-03-01 09:27:52.388000+01:00,3,9
262184,13085,7,10933.0,START,W_Completeren aanvraag,2012-03-01 20:11:14.761000+01:00,3,20
262185,13085,8,10933.0,COMPLETE,A_ACCEPTED,2012-03-01 20:17:22.457000+01:00,3,20
262186,13085,9,10933.0,COMPLETE,O_SELECTED,2012-03-01 20:22:38.593000+01:00,3,20
262187,13085,10,10933.0,COMPLETE,A_FINALIZED,2012-03-01 20:22:38.593000+01:00,3,20
262188,13085,11,10933.0,COMPLETE,O_CREATED,2012-03-01 20:22:40.016000+01:00,3,20
262189,13085,12,10933.0,COMPLETE,O_SENT,2012-03-01 20:22:40.043000+01:00,3,20
262190,13085,13,10933.0,SCHEDULE,W_Nabellen offertes,2012-03-01 20:22:40.149000+01:00,3,20
262191,13085,14,10933.0,COMPLETE,W_Completeren aanvraag,2012-03-01 20:22:41.157000+01:00,3,20
262192,13085,15,11119.0,START,W_Nabellen offertes,2012-03-10 12:46:22.700000+01:00,5,12
262193,13085,16,11119.0,COMPLETE,W_Nabellen offertes,2012-03-10 12:50:54.881000+01:00,5,12
262194,13086,0,112.0,COMPLETE,A_SUBMITTED,2012-02-29 23:51:16.799000+01:00,2,23
262195,13086,1,112.0,COMPLETE,A_PARTLYSUBMITTED,2012-02-29 23:51:17.423000+01:00,2,23
262196,13086,2,112.0,SCHEDULE,W_Afhandelen leads,2012-02-29 23:52:01.287000+01:00,2,23
262197,13086,3,11169.0,START,W_Afhandelen leads,2012-03-01 09:26:46.736000+01:00,3,9
262198,13086,4,11169.0,COMPLETE,A_DECLINED,2012-03-01 09:27:37.118000+01:00,3,9
262199,13086,5,11169.0,COMPLETE,W_Afhandelen leads,2012-03-01 09:27:41.325000+01:00,3,9

In [38]:
chain = {}
shape = df_markov.shape[0]
conceptNames = ['editor: first event'] + list(df_markov['concept:name'])
ids = ['editor: first id'] + list(df_markov['case_id']) #Otherwise we check i+1-th position that does not exist


for i, key1 in enumerate(conceptNames):
    
    if shape > i + 2:
        key2 = conceptNames[i+1]
        event = conceptNames[i+2]

        
        if (ids[i] == ids[i+2]): 
            
            if ((key1, key2) not in chain):
                chain[(key1, key2)] = [event] 
            else:
                chain[(key1, key2)].append(event)
                
        elif (event == 'A_SUBMITTED'): 
            
            if ((key1, key2) not in chain):
                chain[(key1, key2)] = ['editor: close_case']
            else:
                chain[(key1, key2)].append('editor: close_case')
        
        elif (key2 == 'A_SUBMITTED'):
            
            if ((key1, key2) not in chain):
                chain[(key1, key2)] = ['A_PARTLYSUBMITTED']
            else:
                chain[(key1, key2)].append('A_PARTLYSUBMITTED')
        

            
print('Chain size: {0} distinct event pairs.'.format(len(chain)))

Chain size: 137 distinct event pairs.

In [39]:
#creates a list of all concepts and a chain with only the percent chances
concepts = list(df_markov['concept:name'].unique()) + ['editor: close_case']

chain2 = {}
for i in chain:
    lister = []
    for j in concepts:
        lister.append(chain[i].count(j)/len(chain[i]))
    
    chain2[i] = np.array(lister)

In [40]:
timer = time.perf_counter()

df_2markov = copy.deepcopy(df_markov)
df_2markov['concept:name S1'] = df_2markov['concept:name'].shift(1) 
df_2markov.loc[0, 'concept:name S1'] = 'editor: first event'

def apply_chain(var):
    chances = chain2[(var[0], var[1])]
    cumulative_chances = chances.cumsum()
    random_number = random.uniform(0, 1)
    result = np.expand_dims(cumulative_chances, 1) >= random_number
    result_number = result.argmax()   
    return np.asarray(concepts)[result_number]

df_2prediction = copy.deepcopy(df_markov)
df_2prediction['Prediction'] =  df_2markov[['concept:name S1','concept:name']].apply(apply_chain, axis=1)

print(timer-time.perf_counter())

-10.133005300000036

In [41]:
#Prepare the next event column
df_2prediction['next_event'] = df_2prediction['concept:name']
df_2prediction.loc[df_2prediction['step_number'] == 0, 'next_event'] = 'editor: close_case'
df_2prediction['next_event'] = df_2prediction['next_event'].shift(-1)
df_2prediction.loc[len(df) - 1, 'next_event'] = 'editor: close_case'

accuracy = round((len(df_2prediction[df_2prediction['next_event'] == df_2prediction['Prediction']])/len(df_2prediction))*100, 1)
print('accuracy: ' + str(accuracy) + '%')

accuracy: 73.4%

In [42]:
df_2prediction

,case_id,step_number,org:resource,lifecycle:transition,concept:name,time:timestamp,time:weekday,time:hour,Prediction,next_event
0,0,0,112.0,COMPLETE,A_SUBMITTED,2011-10-01 00:38:44.546000+02:00,5,0,A_PARTLYSUBMITTED,A_PARTLYSUBMITTED
1,0,1,112.0,COMPLETE,A_PARTLYSUBMITTED,2011-10-01 00:38:44.880000+02:00,5,0,A_PREACCEPTED,A_PREACCEPTED
2,0,2,112.0,COMPLETE,A_PREACCEPTED,2011-10-01 00:39:37.906000+02:00,5,0,W_Completeren aanvraag,W_Completeren aanvraag
3,0,3,112.0,SCHEDULE,W_Completeren aanvraag,2011-10-01 00:39:38.875000+02:00,5,0,W_Completeren aanvraag,W_Completeren aanvraag
4,0,4,NaN,START,W_Completeren aanvraag,2011-10-01 11:36:46.437000+02:00,5,11,W_Completeren aanvraag,A_ACCEPTED
5,0,5,10862.0,COMPLETE,A_ACCEPTED,2011-10-01 11:42:43.308000+02:00,5,11,O_SELECTED,O_SELECTED
6,0,6,10862.0,COMPLETE,O_SELECTED,2011-10-01 11:45:09.243000+02:00,5,11,A_FINALIZED,A_FINALIZED
7,0,7,10862.0,COMPLETE,A_FINALIZED,2011-10-01 11:45:09.243000+02:00,5,11,O_CREATED,O_CREATED
8,0,8,10862.0,COMPLETE,O_CREATED,2011-10-01 11:45:11.197000+02:00,5,11,O_SENT,O_SENT
9,0,9,10862.0,COMPLETE,O_SENT,2011-10-01 11:45:11.380000+02:00,5,11,W_Nabellen offertes,W_Nabellen offertes
10,0,10,NaN,SCHEDULE,W_Nabellen offertes,2011-10-01 11:45:11.554000+02:00,5,11,W_Completeren aanvraag,W_Completeren aanvraag
11,0,11,NaN,COMPLETE,W_Completeren aanvraag,2011-10-01 11:45:13.917000+02:00,5,11,W_Nabellen offertes,W_Nabellen offertes
12,0,12,NaN,START,W_Nabellen offertes,2011-10-01 12:15:41.290000+02:00,5,12,W_Nabellen offertes,W_Nabellen offertes
13,0,13,NaN,COMPLETE,W_Nabellen offertes,2011-10-01 12:17:08.924000+02:00,5,12,W_Nabellen offertes,W_Nabellen offertes
14,0,14,10913.0,START,W_Nabellen offertes,2011-10-08 16:26:57.720000+02:00,5,16,W_Nabellen offertes,W_Nabellen offertes
15,0,15,10913.0,COMPLETE,W_Nabellen offertes,2011-10-08 16:32:00.886000+02:00,5,16,W_Nabellen offertes,W_Nabellen offertes
16,0,16,11049.0,START,W_Nabellen offertes,2011-10-10 11:32:22.495000+02:00,0,11,W_Nabellen offertes,O_SENT_BACK
17,0,17,11049.0,COMPLETE,O_SENT_BACK,2011-10-10 11:33:03.668000+02:00,0,11,W_Valideren aanvraag,W_Valideren aanvraag
18,0,18,11049.0,SCHEDULE,W_Valideren aanvraag,2011-10-10 11:33:04.560000+02:00,0,11,W_Nabellen offertes,W_Nabellen offertes
19,0,19,11049.0,COMPLETE,W_Nabellen offertes,2011-10-10 11:33:05.791000+02:00,0,11,W_Valideren aanvraag,W_Valideren aanvraag
20,0,20,10629.0,START,W_Valideren aanvraag,2011-10-13 10:05:26.925000+02:00,3,10,W_Valideren aanvraag,A_REGISTERED
21,0,21,10629.0,COMPLETE,A_REGISTERED,2011-10-13 10:37:29.226000+02:00,3,10,A_APPROVED,A_APPROVED
22,0,22,10629.0,COMPLETE,A_APPROVED,2011-10-13 10:37:29.226000+02:00,3,10,A_ACTIVATED,O_ACCEPTED
23,0,23,10629.0,COMPLETE,O_ACCEPTED,2011-10-13 10:37:29.226000+02:00,3,10,A_ACTIVATED,A_ACTIVATED
24,0,24,10629.0,COMPLETE,A_ACTIVATED,2011-10-13 10:37:29.226000+02:00,3,10,A_REGISTERED,W_Valideren aanvraag
25,0,25,10629.0,COMPLETE,W_Valideren aanvraag,2011-10-13 10:37:37.026000+02:00,3,10,editor: close_case,editor: close_case
26,1,0,112.0,COMPLETE,A_SUBMITTED,2011-10-01 08:08:58.256000+02:00,5,8,A_PARTLYSUBMITTED,A_PARTLYSUBMITTED
27,1,1,112.0,COMPLETE,A_PARTLYSUBMITTED,2011-10-01 08:09:02.195000+02:00,5,8,W_Afhandelen leads,A_PREACCEPTED
28,1,2,112.0,COMPLETE,A_PREACCEPTED,2011-10-01 08:09:56.648000+02:00,5,8,W_Completeren aanvraag,W_Completeren aanvraag
29,1,3,112.0,SCHEDULE,W_Completeren aanvraag,2011-10-01 08:09:59.578000+02:00,5,8,W_Completeren aanvraag,W_Completeren aanvraag
...,...,...,...,...,...,...,...,...,...,...
262170,13083,2,112.0,COMPLETE,A_DECLINED,2012-02-29 23:29:21.958000+01:00,2,23,editor: close_case,editor: close_case
262171,13084,0,112.0,COMPLETE,A_SUBMITTED,2012-02-29 23:28:55.349000+01:00,2,23,A_PARTLYSUBMITTED,A_PARTLYSUBMITTED
262172,13084,1,112.0,COMPLETE,A_PARTLYSUBMITTED,2012-02-29 23:28:55.479000+01:00,2,23,W_Afhandelen leads,W_Afhandelen leads
262173,13084,2,112.0,SCHEDULE,W_Afhandelen leads,2012-02-29 23:29:06.452000+01:00,2,23,W_Afhandelen leads,W_Afhandelen leads
262174,13084,3,11169.0,START,W_Afhandelen leads,2012-03-01 09:25:39.409000+01:00,3,9,W_Afhandelen leads,A_DECLINED
262175,13084,4,11169.0,COMPLETE,A_DECLINED,2012-03-01 09:28:18.168000+01:00,3,9,W_Afhandelen leads,W_Afhandelen leads
262176,13084,5,11169.0,COMPLETE,W_Afhandelen leads,2012-03-01 09:28:21.228000+01:00,3,9,editor: close_case,editor: close_case
262177,13085,0,112.0,COMPLETE,A_SUBMITTED,2012-02-29 23:43:09.766000+01:00,2,23,A_PARTLYSUBMITTED,A_PARTLYSUBMITTED
262178,13085,1,112.0,COMPLETE,A_PARTLYSUBMITTED,2012-02-29 23:43:09.899000+01:00,2,23,A_DECLINED,W_Afhandelen leads
262179,13085,2,112.0,SCHEDULE,W_Afhandelen leads,2012-02-29 23:43:54.276000+01:00,2,23,W_Afhandelen leads,W_Afhandelen leads
262180,13085,3,11169.0,START,W_Afhandelen leads,2012-03-01 09:25:47.680000+01:00,3,9,A_PREACCEPTED,A_PREACCEPTED
262181,13085,4,11169.0,COMPLETE,A_PREACCEPTED,2012-03-01 09:27:50.503000+01:00,3,9,W_Completeren aanvraag,W_Completeren aanvraag
262182,13085,5,11169.0,SCHEDULE,W_Completeren aanvraag,2012-03-01 09:27:50.551000+01:00,3,9,W_Completeren aanvraag,W_Afhandelen leads
262183,13085,6,11169.0,COMPLETE,W_Afhandelen leads,2012-03-01 09:27:52.388000+01:00,3,9,W_Completeren aanvraag,W_Completeren aanvraag
262184,13085,7,10933.0,START,W_Completeren aanvraag,2012-03-01 20:11:14.761000+01:00,3,20,W_Completeren aanvraag,A_ACCEPTED
262185,13085,8,10933.0,COMPLETE,A_ACCEPTED,2012-03-01 20:17:22.457000+01:00,3,20,O_SELECTED,O_SELECTED
262186,13085,9,10933.0,COMPLETE,O_SELECTED,2012-03-01 20:22:38.593000+01:00,3,20,A_FINALIZED,A_FINALIZED
262187,13085,10,10933.0,COMPLETE,A_FINALIZED,2012-03-01 20:22:38.593000+01:00,3,20,O_CREATED,O_CREATED
262188,13085,11,10933.0,COMPLETE,O_CREATED,2012-03-01 20:22:40.016000+01:00,3,20,O_SENT,O_SENT
262189,13085,12,10933.0,COMPLETE,O_SENT,2012-03-01 20:22:40.043000+01:00,3,20,W_Nabellen offertes,W_Nabellen offertes
262190,13085,13,10933.0,SCHEDULE,W_Nabellen offertes,2012-03-01 20:22:40.149000+01:00,3,20,W_Completeren aanvraag,W_Completeren aanvraag
262191,13085,14,10933.0,COMPLETE,W_Completeren aanvraag,2012-03-01 20:22:41.157000+01:00,3,20,W_Nabellen offertes,W_Nabellen offertes
262192,13085,15,11119.0,START,W_Nabellen offertes,2012-03-10 12:46:22.700000+01:00,5,12,O_SELECTED,W_Nabellen offertes
262193,13085,16,11119.0,COMPLETE,W_Nabellen offertes,2012-03-10 12:50:54.881000+01:00,5,12,W_Nabellen offertes,editor: close_case
262194,13086,0,112.0,COMPLETE,A_SUBMITTED,2012-02-29 23:51:16.799000+01:00,2,23,A_PARTLYSUBMITTED,A_PARTLYSUBMITTED
262195,13086,1,112.0,COMPLETE,A_PARTLYSUBMITTED,2012-02-29 23:51:17.423000+01:00,2,23,A_DECLINED,W_Afhandelen leads
262196,13086,2,112.0,SCHEDULE,W_Afhandelen leads,2012-02-29 23:52:01.287000+01:00,2,23,W_Afhandelen leads,W_Afhandelen leads
262197,13086,3,11169.0,START,W_Afhandelen leads,2012-03-01 09:26:46.736000+01:00,3,9,A_PREACCEPTED,A_DECLINED
262198,13086,4,11169.0,COMPLETE,A_DECLINED,2012-03-01 09:27:37.118000+01:00,3,9,W_Afhandelen leads,W_Afhandelen leads
262199,13086,5,11169.0,COMPLETE,W_Afhandelen leads,2012-03-01 09:27:41.325000+01:00,3,9,editor: close_case,editor: close_case

In [43]:
#shows which predictions are given too much (>1) and which too little (<1)
predicted_correct_events = Counter(list(df_2prediction[df_2prediction['next_event'] == df_2prediction['Prediction']]['Prediction']))
predicted_events = Counter(list(df_2prediction['Prediction']))
true_events = Counter(list(df_2prediction['next_event']))

for i in predicted_events:
    if i != i:
        break
    print(i)
    per = round(predicted_events[i]/true_events[i]*100, 1)
    print(str(per) + '%')
    if per > 100:
        print('given ' + str(round(per-100, 1)) + '% too much')
    
    elif per < 100:
        print('given ' + str(round(100-per, 1)) + '% too little')
    
    else:
        print('given exactly the right amount')
   
    print('')

A_PARTLYSUBMITTED
100.0%
given exactly the right amount

A_PREACCEPTED
98.9%
given 1.1% too little

W_Completeren aanvraag
99.9%
given 0.1% too little

O_SELECTED
99.5%
given 0.5% too little

A_FINALIZED
100.8%
given 0.8% too much

O_CREATED
100.0%
given exactly the right amount

O_SENT
100.0%
given exactly the right amount

W_Nabellen offertes
99.8%
given 0.2% too little

W_Valideren aanvraag
99.6%
given 0.4% too little

A_APPROVED
102.3%
given 2.3% too much

A_ACTIVATED
100.0%
given exactly the right amount

A_REGISTERED
100.4%
given 0.4% too much

editor: close_case
99.9%
given 0.1% too little

W_Afhandelen leads
100.7%
given 0.7% too much

A_ACCEPTED
101.4%
given 1.4% too much

O_CANCELLED
100.7%
given 0.7% too much

O_SENT_BACK
100.1%
given 0.1% too much

W_Nabellen incomplete dossiers
100.3%
given 0.3% too much

O_ACCEPTED
98.5%
given 1.5% too little

A_DECLINED
100.1%
given 0.1% too much

A_CANCELLED
100.7%
given 0.7% too much

W_Wijzigen contractgegevens
125.0%
given 25.0% too much

O_DECLINED
98.5%
given 1.5% too little

W_Beoordelen fraude
100.5%
given 0.5% too much