In [ ]:
#run 'pip install -U pm4py' in terminal
from pm4py.objects.log.importer.xes import importer as xes_importer
#from pm4py.objects.log.importer.xes import factory as xes_factory
import pandas as pd
import numpy as np

In [ ]:
BPI = xes_importer.apply("BPI_Challenge_2012.xes")

HBox(children=(HTML(value='parsing log, completed traces :: '), FloatProgress(value=0.0, max=13087.0), HTML(va…

In [ ]:
listo = []
dic = {'no': -1}
prev_attr = 'no'
counter = 0
cur_attr = 'no'
for i in range(0, len(BPI)):
    for j in range(0, len(BPI[i])):
        attr_list = list(BPI[i][j])
    
        for k in range(0, len(attr_list)):
            prev_attr = cur_attr
            cur_attr = attr_list[k]    
            if cur_attr not in listo:
                value = dic[prev_attr] + 1
            
                for key in dic:
                    if dic[key] >= value:
                        dic[key] += 1
            
                dic[cur_attr] = value
                listo.insert(value, cur_attr)
    
        cur_attr = 'no'

In [ ]:
chain = []
event = []
for i in range(0, len(BPI)):
    for j in range(0, len(BPI[i])):
        chain.append(i)
        event.append(j)

In [ ]:
df_BPI= pd.DataFrame(index=[np.array(chain), np.array(event)], columns=listo)

In [ ]:
for i in range(0, len(BPI)):
    if i % 100 == 0:
        print(i)
    
    for j in range(0, len(BPI[i])):

        attr = BPI[i][j]
        for a in attr:
            df_BPI.loc[(i, j), a] = attr[a]

0
100
200
300
400
500
600
700
800
900
1000
1100
1200
1300
1400
1500
1600
1700
1800
1900
2000
2100
2200
2300
2400
2500
2600
2700
2800
2900
3000
3100
3200
3300
3400
3500
3600
3700
3800
3900
4000
4100
4200
4300
4400
4500
4600
4700
4800
4900
5000
5100
5200
5300
5400
5500
5600
5700
5800
5900
6000
6100
6200
6300
6400
6500
6600
6700
6800
6900
7000
7100
7200
7300
7400
7500
7600
7700
7800
7900
8000
8100
8200
8300
8400
8500
8600
8700
8800
8900
9000
9100
9200
9300
9400
9500
9600
9700
9800
9900
10000
10100
10200
10300
10400
10500
10600
10700
10800
10900
11000
11100
11200
11300
11400
11500
11600
11700
11800
11900
12000
12100
12200
12300
12400
12500
12600
12700
12800
12900
13000

In [ ]:
df_BPI

        org:resource lifecycle:transition            concept:name  \
0     0          112             COMPLETE             A_SUBMITTED
      1          112             COMPLETE       A_PARTLYSUBMITTED
      2          112             COMPLETE           A_PREACCEPTED
      3          112             SCHEDULE  W_Completeren aanvraag
      4          NaN                START  W_Completeren aanvraag
...              ...                  ...                     ...
13086 1          112             COMPLETE       A_PARTLYSUBMITTED
      2          112             SCHEDULE      W_Afhandelen leads
      3        11169                START      W_Afhandelen leads
      4        11169             COMPLETE              A_DECLINED
      5        11169             COMPLETE      W_Afhandelen leads

                           time:timestamp
0     0  2011-10-01 00:38:44.546000+02:00
      1  2011-10-01 00:38:44.880000+02:00
      2  2011-10-01 00:39:37.906000+02:00
      3  2011-10-01 00:39:38.875000+02:00
      4  2011-10-01 11:36:46.437000+02:00
...                                   ...
13086 1  2012-02-29 23:51:17.423000+01:00
      2  2012-02-29 23:52:01.287000+01:00
      3  2012-03-01 09:26:46.736000+01:00
      4  2012-03-01 09:27:37.118000+01:00
      5  2012-03-01 09:27:41.325000+01:00

[262200 rows x 4 columns]

In [ ]:
df_BPI.to_csv('BPI.csv')
df_BPI.to_hdf('BPI.h5', 'data', mode='w')

In [ ]:
attr_listo = []
attr_dic = {'no': -1}
prev_attr = 'no'
counter = 0
cur_attr = 'no'
for i in range(0, len(BPI)):
    attr_list = list(BPI[i].attributes)
    
    for k in range(0, len(attr_list)):
        prev_attr = cur_attr
        cur_attr = attr_list[k]    
        if cur_attr not in attr_listo:
            value = attr_dic[prev_attr] + 1
            
            for key in attr_dic:
                if attr_dic[key] >= value:
                    attr_dic[key] += 1
            
            attr_dic[cur_attr] = value
            attr_listo.insert(value, cur_attr)
    
    cur_attr = 'no'

In [ ]:
attr_chain = []
for i in range(0, len(BPI)):
    attr_chain.append(i)

In [ ]:
df_BPI_attr= pd.DataFrame(index=[np.array(attr_chain)], columns=attr_listo)

In [ ]:
for i in range(0, len(BPI)):
    if i % 100 == 0:
        print(i)
    attr = BPI[i].attributes
    for a in attr:
        df_BPI_attr.loc[i, a] = attr[a]

0
100
200
300
400
500
600
700
800
900
1000
1100
1200
1300
1400
1500
1600
1700
1800
1900
2000
2100
2200
2300
2400
2500
2600
2700
2800
2900
3000
3100
3200
3300
3400
3500
3600
3700
3800
3900
4000
4100
4200
4300
4400
4500
4600
4700
4800
4900
5000
5100
5200
5300
5400
5500
5600
5700
5800
5900
6000
6100
6200
6300
6400
6500
6600
6700
6800
6900
7000
7100
7200
7300
7400
7500
7600
7700
7800
7900
8000
8100
8200
8300
8400
8500
8600
8700
8800
8900
9000
9100
9200
9300
9400
9500
9600
9700
9800
9900
10000
10100
10200
10300
10400
10500
10600
10700
10800
10900
11000
11100
11200
11300
11400
11500
11600
11700
11800
11900
12000
12100
12200
12300
12400
12500
12600
12700
12800
12900
13000

In [ ]:
df_BPI_attr.to_csv('BPI_attr.csv')
df_BPI_attr.to_hdf('BPI.h5', 'data')

In [ ]:
df_BPI = pd.read_hdf('BPI.h5', 'data')
df_BPI_attr = pd.read_hdf('BPI_attr.h5', 'data')
df_BPI = df_BPI.rename(columns={'Unnamed: 0': 'chain', 'Unnamed: 1': 'event'})
df_BPI = df_BPI.set_index(['chain', 'event'])
df_BPI_attr = df_BPI_attr.rename(columns={'Unnamed: 0': 'chain'})
df_BPI_attr = df_BPI_attr.set_index('chain')

In [ ]:
df_BPI

             org:resource lifecycle:transition            concept:name  \
chain event
0     0             112.0             COMPLETE             A_SUBMITTED
      1             112.0             COMPLETE       A_PARTLYSUBMITTED
      2             112.0             COMPLETE           A_PREACCEPTED
      3             112.0             SCHEDULE  W_Completeren aanvraag
      4               NaN                START  W_Completeren aanvraag
...                   ...                  ...                     ...
13086 1             112.0             COMPLETE       A_PARTLYSUBMITTED
      2             112.0             SCHEDULE      W_Afhandelen leads
      3           11169.0                START      W_Afhandelen leads
      4           11169.0             COMPLETE              A_DECLINED
      5           11169.0             COMPLETE      W_Afhandelen leads

                               time:timestamp
chain event
0     0      2011-10-01 00:38:44.546000+02:00
      1      2011-10-01 00:38:44.880000+02:00
      2      2011-10-01 00:39:37.906000+02:00
      3      2011-10-01 00:39:38.875000+02:00
      4      2011-10-01 11:36:46.437000+02:00
...                                       ...
13086 1      2012-02-29 23:51:17.423000+01:00
      2      2012-02-29 23:52:01.287000+01:00
      3      2012-03-01 09:26:46.736000+01:00
      4      2012-03-01 09:27:37.118000+01:00
      5      2012-03-01 09:27:41.325000+01:00

[262200 rows x 4 columns]

In [ ]:
df_BPI_attr

                               REG_DATE  concept:name  AMOUNT_REQ
chain
0      2011-10-01 00:38:44.546000+02:00        173688       20000
1      2011-10-01 08:08:58.256000+02:00        173691        5000
2      2011-10-01 08:10:30.287000+02:00        173694        7000
3      2011-10-01 08:11:08.865000+02:00        173697       15000
4      2011-10-01 08:15:39.894000+02:00        173700        5000
...                                 ...           ...         ...
13082  2012-02-29 23:22:24.570000+01:00        214364        5000
13083  2012-02-29 23:28:41.098000+01:00        214367         500
13084  2012-02-29 23:28:55.349000+01:00        214370       20000
13085  2012-02-29 23:43:09.766000+01:00        214373        8500
13086  2012-02-29 23:51:16.799000+01:00        214376       15000

[13087 rows x 3 columns]